body {
    background-color: #eeeeee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle {
    color: #888;
}

img {
    display: block;
    margin: 0 auto;
    padding: 24px;
    width: 50%;
}

ul, ol {
    display: table;
    margin: 0 auto;
}

ol li {
    margin: 16px;
}

h1, h2, h4, p {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: cadetblue;
}

div {
    background-color: #FFFFFF;
    margin: 24px 32px;
    padding: 16px 0px;
    border-radius: 16px;
}

div.home-nav {
    text-align: center;
}

.header-title {
    text-decoration: none;
    color: cadetblue;
}