body {
    font-family: roboto;
    padding: 0px;
    margin: 0px;
}

/* Header */
.header {
    background-color: #1f2937;
    padding: 16px 15% 48px 15%;
}

.header .bar {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
}

.header .bar .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header .bar .navigation {
    display: flex;
    gap: 1.5em;
}

.header .bar .navigation a {
    text-decoration: none;
}

.header .bar .navigation a span {
    font-size: small;
}

.header .hero {
    display: flex;
    gap: 8em;
}

.header .hero .aside {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.header .hero .aside .title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    flex-wrap: wrap;
}

.header .hero .image {
    background-color: #666666;
    color: #F9FAF8;
    width: inherit;
    height: inherit;
    font-size: smaller;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header .hero .aside .subtitle,
.header .bar .navigation a {
    font-size: 18px;
    color: #E5E7EB;
}

/* Information deck */
.info-deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 17% 64px 17%;
}

.info-deck .heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;

    margin-bottom: 16px;
}

.info-deck .cards {
    display: flex;
    align-items: center;
    gap: 2em;
}

.info-deck .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-deck .cards .card .image {
    width: 6.5em;
    height: 6.5em;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 8px;
    margin: 8px 0px;
}

.info-deck .cards .card .subtext {
    text-align: center;
    font-size: smaller;
    color: #666666;
    max-width: 10em;
}

/* Quote Section */
.quote-section {
    background-color: #E5E7EB;
    padding: 64px 25%;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.quote-section .quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-section .credit {
    font-weight: bolder;
    text-align: right;
}

/* Call to Action */
.call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 4em 17.5%;
    padding: 2em 4em;
    border-radius: 6px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action .text {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.call-to-action .title {
    font-size: large;
    font-weight: bolder;
}

.call-to-action .subtitle {
    font-size: small;
    font-weight: 300;
}

.call-to-action button {
    border-color: #F9FAF8;
}

/* Sign up buttons */
button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 6px;
    border-style: solid;
    font-weight: bolder;
    padding: 4px 16px;
    flex-shrink: 0;
}

/* Footer */
.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    font-size: small;

    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 2em 0px;
}