@font-face {
    font-family: 'ChunkFive Print';
    src: url('ChunkFivePrint.woff2') format('woff2'),
        url('ChunkFivePrint.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Regular.woff2') format('woff2'),
        url('FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

