div.main-col,
div.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.main-col {
    gap: 48px;
}

div.row {
    display: flex;
    gap: 32px;
}

button {
    background-color: cornflowerblue;
    color: white;
    border-style: none;
    padding: 8px 24px;
}