div#button-row {
    display: flex;
    gap: 16px;
}

div.col {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

button {
    background-color: cornflowerblue;
    color: white;
    border-style: none;
    padding: 8px 24px;
}